<footer>
    <div class="container footer-container">
        <div class="row">
            <div class="col-md-3 logo-section">
                <img src="../assets/BeFunky-design__1_-removebg-preview.webp" alt="Raja Sahib Logo"
                    class="footer-logo">

                <div class="social-icons d-flex gap-3">
                    <a href="https://www.facebook.com/therajasahib" target="_blank">
                        <img src="../assets/—Pngtree—facebook white icon_3570425.png" alt="facebook-icon"
                            title="Raja Sahib on Facebook">
                    </a>
                    <a href="https://www.instagram.com/rajasahibofficial/" target="_blank">
                        <img src="../assets/—Pngtree—white instagram icon png instagram_3562066.png"
                            class="instagram-img" alt="instagram-icon" title="Raja Sahib on Instagram">
                    </a>
                    <a href="https://www.youtube.com/channel/UCzWjh5DehCCp0yzmftvgwDw" target="_blank">
                        <img src="../assets/—Pngtree—youtube icon_3584904.png" alt="youtube-icon"
                            title="Raja Sahib on YouTube">
                    </a>
                    <a href="https://www.linkedin.com/company/rajasahibofficial/" target="_blank">
                        <img src="../assets/—Pngtree—linkedin icon_3584907.png" alt="linkedin-icon"
                            title="Raja Sahib on Linkedin">
                    </a>
                </div>

                <div class="payment-methods">
                    <img src="../assets/card-400-40_d9c1e9f0-795a-40db-a363-d3cc0cfd54de.avif" alt="">
                </div>
                <p><i>100% Secured Checkout</i></p>
            </div>

            <div class="col-md-3 info-section">
                <h4>Information</h4>
                <ul class="list-unstyled">
                    <li><a href="/portfolio">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Become a Partner</a></li>
                    <li><a href="#">Store Locator</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Wholesale</a></li>
                </ul>
            </div>

            <div class="col-md-3 quick-links-section">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Return and Exchange Policy</a></li>
                    <li><a href="#">Shipping Policy</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Editorial Blog</a></li>
                </ul>
            </div>

            <div class="col-md-3 subscribe-section">
                <h4>Subscribe to Our Newsletter</h4>
                <form action="#" class="input-form f-left">
                    <input type="email" placeholder="Your email">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024, Raja Sahib. All rights reserved. Powered by Shopify</p>
    </div>
</footer>