<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light border-bottom border-dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/">Raja Sahib</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="#">End of Season Sale</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Summer'24</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="newArrivals" role="button" data-bs-toggle="dropdown">New Arrivals</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
          </li>
          <!-- Add additional menu items as needed -->
        </ul>
        <div class="d-flex">
          <a href="#" class="icon-link"><i class="bi bi-cart3"></i></a>
        </div>
      </div>
    </div>
  </nav>
  