<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-4">
    <!-- Card 1 -->
    <% for( let index=0; index < products.length; index++ ) { %>
    <div class="col">
      <div class="card h-100 shadow-sm">
        <img src="<%= products[index].picture%>" class="card-img-top" alt="Product 1">
        <div class="card-body text-center">
          <h5 class="card-title"><%= products[index].title %></h5>
          <p class="card-text text-muted"><%= products[index].description %></p>
          <p class="card-price text-success fw-bold"><%= products[index].price %></p>
          <a href="#" class="btn btn-outline-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <% } %>
</div>

   