* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
footer{
    background-color: #000;
}
header{
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color:white;
    
}

header img{
    padding-top: 1px;
    width: 24px;
}
/* Contact bar styling */
.contact-bar {
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4px;
    margin: 0;
}


.contact-bar-info {
    font-family: 'Poppins', sans-serif;
    font-size: 11.6px;
    justify-content: center;
    text-align: center;
    color: #fafafa;
}


.email-link {
    color: #fafafa;
}


.link-bar {
    padding: 8px;
    display: flex;
    justify-content: right;
    margin-right: 2%;
    
    
}

.link-bar li {
    display: inline-block;
    padding: 2.5px;
}

.link-bar a img {
    width: 24px;
}


.raja-sahib-logo {
    text-align: center;
    
}

.raja-sahib-logo a img {
    width: 180px;
}


.menue-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    height: 60px;
    border-bottom:1px solid  #000;
    border-width: 100%;
}


.menu-items {
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.menu-items::-webkit-scrollbar {
    display: none;
}

.menu-items ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
   
}


.menu-items ul li {
    margin: 0 20px;
}

.menu-items ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}


.menu-items ul li a:hover {
    color: #ff6f61;
}


.nav-btn {
    background-color: #f1f1f1;
    border: none;
    
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    position: relative;
}


.nav-btn:hover {
    font-weight: bold;
}

.left-btn {
    position: relative;
    margin-right: 20px;
    border-right: 0.2px solid black;
    padding-right: 10px;
    background-color: transparent;
}

.right-btn {
    position: relative;
    margin-left: 20px;
    padding-left: 10px; 
    border-left: 0.2px solid black;
    background-color: transparent;
}
.search-icon{
    width: 0.5%;

    padding-right: 4%;
}
.user-icon{
    padding: 1%;
}
.shopping-icon{
    padding: 1%;
}

.main-page-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-page-logo img {
    
    width: 100%;
    height: auto;
    z-index: -1;
   
}


.sale-icons {
    display: flex;
    flex-wrap: wrap; /* Allow icons to wrap on smaller screens */
    justify-content: center; /* Space between icons */
    align-items: center;
    padding: 10px;
    width: 100%; /* Full-width container */
    height: auto;
    
    
}

.sale-icon1 {
    background-color: white;
    padding: 20px;
    text-align: center;
    flex: 1 1 20%; /* Set flexible width for responsiveness */
    margin:0 5px; /* Space between the boxes */
    min-width: 150px; /* Minimum width to avoid them shrinking too much */
}







footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 200px;
    padding: 20Px;
}

.footer-logo {
    max-width: 3000px;
   
}

.social-icons {
    
    color: #000;
    display: flex;
    gap: 15px;
    margin-top: 10px;
    padding-top: 30px;
}

.social-icons img {
    width: 34px;
    height: 34px;
    background-color: #000;
}

.payment-methods img {
   padding-top: 200px;
   padding-bottom: 20px;
}

.footer-section h4 {
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
    padding-left: 100px;
}

.footer-section ul {
    list-style: none;
    width: 100%;
    padding-left: 100px;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #9f9b9b;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
    color: white;
}

.subscribe-section input {
    background-color: transparent;
    margin-bottom: 3px;
    width: 70%;
    border: none;
    border-bottom: 1px solid white;
    
    justify-content: right;
    margin-left: 100px;
    
}


.subscribe-section button {
    padding-top: 2%;
    margin-left: 100px;
    color: #f0f0f0;
    background-color: black;
    border: none;
    cursor: pointer;
}

.subscribe-section button:hover {
   
    color: #333;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    color: #aaa;
}

.footer-bottom a {
    color: #aaa;
    text-decoration: none;
}



.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    
}

.logos-wrapper {
    width: 90%;
    overflow: hidden;
    max-height: auto;
    margin-right: 12%;
    margin-left: 12%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.logos-container {
    display: flex; 
    gap: 20px; 
    transition: transform 0.4s ease;
    overflow-x: auto; 
    scrollbar-width: none;
    align-items: center;
    align-content: center;
    justify-items: center;
    
}
.logos-container2{
    display: flex; 
    gap: 20px;
    transition:  transform 0.4s ease;
    overflow-x: auto; 
    scrollbar-width: none;
    align-items: center;
    align-content: center;
    justify-items: center;
    
    
}

.logos-container img ,.logos-container2 img{
    width: 200px;
    
}
.logos-container a:hover,.logos-container2 a:hover{
    cursor: pointer;
}



.slide-btn {
    background-color:transparent;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    z-index: 100;
    padding : 1%;
    margin-right: 5%;
    margin-left: 5%;
    
}

.left {
    
    left: 0;
}

.right {
    right: 0;


}.brands-heading {
    margin-top: 10%;
    text-align: center; 
    margin-bottom: 20px; 
}

.brands-heading p{
    font-size: 24px;
    margin: 0; 
}
.end-of-season-deals-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px ;

}
.heading-box {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
.banner-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    border-bottom: 1px solid #d7d4d4;
    text-transform: uppercase;
}

.end-of-season-images{
    
    margin-right: 2%;
    overflow-x: hidden;
    gap: 1.5%;
    margin-top: 2%;
    display: flex;
    width: 100%;
    
}
.end-of-season-images a img{
}

