<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../styles.css">
<h4>Edit Product</h4>

<form action="" method="post">
   
      <div class="form-group">
        
            <h1>Add Product Form</h1>
        </div>
        <div class="id-field">
            <input id="id" name="id" type="text" class="form-control" id="inputId" placeholder="Id">
            <span id="error-message-id" style="display: none;"> *Product id is Required </span>
        </div>
        <div class="brand-field">
            <input id="brand" name ="brand" type="text" class="form-control" id="InputName" placeholder="Brand">
            <span id="error-message-brand" style="display: none;"> *Brand Name is Required </span>
        </div>
        <div class="title-field">
            <input id="title" name="title" type="text" class="form-control" id="InputEmail" placeholder="Title">
            <span id="error-message-title" style="display: none;"> *Title is Required </span>
        </div>

        <div class="price-field">
            <input id="price" name="price" type="number" class="form-control" id="inputPrice" placeholder="Price">
            <span id="error-message-price" style="display: none;"> *Price is Required </span>
        </div>

        <div class="description-field">
            <input id="description" name="description" type="text" class="form-control" id="inputDescription"
                placeholder="Description">
            <span id="error-message-description" style="display: none;"> *Description is Required </span>
        </div>
        <button class="btn btn-info">Edit New Product</button>
      </div>

</form>